/** general styling **/
body {
	font-family: "Arial";
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
}

html {
  animation: fadeIn ease 1.75s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


/** index page styling **/
#chart-area {
	margin: auto;
	width: 700px;
}

/** tooltip for scatterplot **/
.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px;
    color:white;
    background:rgba(0,0,0,.9);
    pointer-events: none;
    white-space:pre-wrap;
}


/** mean page styling **/
